.friends {
  color: white;
  margin-left: 20px;
}

.friends > h2 {
  text-align: center;
  transition: 0.3s;
}

.friends > h2:hover {
  transform: scale(1.05);
  text-decoration: underline;
  transition: 0.3s;
}

.friends__posters {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.friends__posters::-webkit-scrollbar {
  display: none;
}

.friends__poster {
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.friends__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.friends__posterLarge {
  width: 300px;
  height: 250px;
}

.friends_posterLarge:hover {
  transform: scale(1.05);
  opacity: 1;
}

.friends__posterContainer {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.friends__listDescription {
  list-style: none;
}

.friends__empty {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.friends__makeFriends {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(29, 29, 131);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.friends__makeFriends:hover {
  background-color: rgb(24, 24, 100);
  transition: 0.3s;
}

.friends__emptyFriendList {
  margin-left: 20px;
}
