.liked__emptyFilms {
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liked__emptyFilms > button {
  margin-top: 30px;
}

.liked {
  color: white;
  margin-left: 20px;
}

.liked > h2 {
  text-align: center;
  transition: 0.3s;
}

.liked > h2:hover {
  transform: scale(1.05);
  text-decoration: underline;
  transition: 0.3s;
}

.liked__button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(29, 29, 131);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.liked__button:hover {
  background-color: rgb(24, 24, 100); 
  transition: 0.3s;
}

.liked__buttonDislike {
  background-color: #e50914;
}

.liked__buttonDislike:hover {
  background-color: #b80d16;
}

.liked__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.liked__posters::-webkit-scrollbar {
  display: none;
}

.liked__poster {
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.liked__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.liked__posterLarge {
  width: 300px;
  height: 250px;
}

.liked_posterLarge:hover {
  transform: scale(1.05);
  opacity: 1;
}

.liked__posterContainer {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.liked__listDescription {
  list-style: none;
}
