.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png")
    center no-repeat;
  background-size: cover;
}

.loginScreen__body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(29, 29, 131);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.loginScreen__button:hover {
  background-color: rgb(24, 24, 100);
  transition: 0.3s;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  padding-left: 20px;
  color: rgb(118, 118, 177);
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(29, 29, 131);
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.loginScreen__getStarted:hover {
  background-color: rgb(24, 24, 100);
  transition: 0.3s;
}
