.users {
  color: white;
}

.users__list {
  list-style: none;
  min-height: 250px;
}

.users__item {
  width: 95%;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users__empty {
  height: 250px;
}

.users__name {
  font-size: 20px;
}

.users__email {
  font-size: 15px;
}

.users__buttonFriends {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(46, 131, 29);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.users__buttonFriends:hover {
  background-color: rgb(33, 94, 21);
  transition: 0.3s;
}

.users__friendChosen {
  background-color: goldenrod;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
