.banner {
  position: relative;
  height: 400px;
  color: white;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.banner__titles {
  align-self: center;
}

.banner__titles > h1 {
  text-align: center;
  padding-top: 20px;
  transition: 0.3s;
}

.banner__titles > h1:hover {
  transform: scale(1.05);
  text-decoration: underline;
  transition: 0.3s;
}

.banner__titles > h3 {
  text-align: center;
  margin-top: 20px;
  transition: 0.3s;
}

.banner__titles > h3:hover {
  transform: rotate(7deg);
  transition: 0.3s;
}

.banner__arrow {
  width: 80px;
  margin: 0 auto;
}

.banner__arrow > img {
  width: 100%;
  height: 100%;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
