.footer {
  width: 100%;
  position: relative;
  height: 90px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer > h1 > span {
  color: rgb(118, 118, 177);
}
