.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__contents > h2 {
  margin: 0 auto;
  color: #fff;
}

.nav__contents > h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  top: 10px;
  left: 0px;
  width: 80px;
  padding-left: 20px;
  cursor: pointer;
  color: rgb(118, 118, 177);
}

.nav__avatar {
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 30px;
  height: 30px;
}
