.row {
  color: white;
  margin-left: 20px;
}

.row > h2 {
  text-align: center;
  transition: 0.3s;
}

.row > h2:hover {
  transform: scale(1.05);
  text-decoration: underline;
  transition: 0.3s;
}

.row__button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(29, 29, 131);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.row__button:hover {
  background-color: rgb(24, 24, 100);
  transition: 0.3s;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge {
  width: 300px;
  height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.05);
  opacity: 1;
}

.row__posterContainer {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row__listDescription {
  list-style: none;
}

.row__liked {
  background-color: goldenrod;
}
